.idea/
vagrant/
.DS_Store

lab1/playbooks/.vagrant
lab2/playbooks/.vagrant
lab3/playbooks/.vagrant
lab4/playbooks/.vagrant
lab4/playbooks/ovpn-client-conf
lab5/playbooks/.vagrant
lab6/playbooks/.vagrant
